<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Titillium+Web" rel="stylesheet">
    <title>@ViewBag.Title - Hydra</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/mustache")

    @RenderSection("CustomScripts", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: large">
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    <li>@Html.ActionLink("Research", "Index", "Research")</li>
                    <li>@Html.ActionLink("CIS", "Index", "CIS")</li>
                    <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                <p>
                    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                    {
                        @Html.TextBox("searchParam")<input type="submit" value="search" />
                    }
                    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
                    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
                    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
                          rel="Stylesheet" type="text/css" />
                    <script type="text/javascript">
        $(function () {
            $("#searchParam").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("AutoComplete", "Home")',
                        data: "{ 'term': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },

                        });

                },

                select: function (e, i) {
                    $("#searchParam").val(i.item.id);
                    alert('You selected: ' + i.item.value+' Code= '+i.item.id);

                },
                minLength: 1
            });
        });
                    </script>
                </p>
            </div>
        </div>
    </div>
    <div class="body body-container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hydra</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>