<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Titillium+Web" rel="stylesheet">
    <title>@ViewBag.Title - Hydra</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/mustache")
   
    @RenderSection("CustomScripts", false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: large">
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    <li>@Html.ActionLink("Research", "Index", "Research")</li>
                    <li>@Html.ActionLink("CIS", "Index", "CIS")</li>
                    <li>@Html.ActionLink("Reports", "Index", "Reports")</li>


                </ul>
                @Html.Partial("_LoginPartial")
                <p>
                    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                    {
                        @Html.TextBox("searchParam")<input type="submit" value="search" />
                    }

                </p>


            </div>

        </div>
    </div>
    <div class="body body-container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hydra</p>
        </footer>
    </div>


    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>